* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.button {
  text-align: center;
  font-size: 14px;
}

.primary {
  background-color: slateblue;
  border: slateblue;
}

.secondary {
  background-color: #e74c3c;
  border: #e74c3c;
}

/* page */
.container-fluid {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 2rem;
  position: relative;
  width: 100%;
}
#page-body {
  padding-right: 35px;
  padding-left: 35px;
}

/* header */
.page-header {
  flex-direction: row;
  align-items: center;
}
.user {
  height: 82px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.user p {
  font-weight: bolder;
  font-size: 20px;
  margin-right: 15px;
  margin-top: 22px;
  display: inline-block;
}
.user a {
  margin-bottom: 0;
}

/* tombol menu */
.bundar {
  border-radius: 72px !important;
  display: inline-block;
  font-size: 25px;
  line-height: 42px;
  margin: 0 6px;
  min-height: 42px;
  min-width: 42px;
  -webkit-transition: background-color 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
  text-align: center;
  color: #f39c12 !important;
}



.bundar:hover {
  background-color: #f39c12;
  color: #fff !important;
}

.sentuh:hover {
  background-color: #f39c12;
  color: #fff !important;
}

/* Sidebar nav */
#page-container.sidebar-open-xs #sidebar {
  box-shadow: none;
  width: 100%;
  max-width: 100%;
  -webkit-transform: translateX(0) translateY(0) translateZ(0);
  transform: translateX(0) translateY(0) translateZ(0);
  opacity: 1;
}
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1025;
  width: 100%;
  background-color: #ecf0f1;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transform: translateX(-100%) translateY(0) translateZ(0);
  transform: translateX(-100%) translateY(0) translateZ(0);
  -webkit-overflow-scrolling: touch;
  will-change: transform;
  transition: -webkit-transform 0.26s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: transform 0.26s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: transform 0.26s cubic-bezier(0.47, 0, 0.745, 0.715),
    -webkit-transform 0.26s cubic-bezier(0.47, 0, 0.745, 0.715);
}
#sidebar .sidebar-header {
  padding: 2rem 20px;
}
#sidebar .sidebar-header .sidebar-header-title {
  display: block;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bolder;
}

/* Slide out menu list styles */
#sidebar ul.sidebar-nav {
  list-style-type: none;
}
#sidebar ul.sidebar-nav > li {
  font-size: 16px;
  padding-left: 10px;
  margin: 0;
}
.masuk {
  margin-left: 10px;
}
#sidebar ul.sidebar-nav > li.nav-section-heading {
  padding: 30px 18px 6px 1em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.66;
}
#sidebar ul.sidebar-nav a {
  position: relative;
  display: block;
  padding: 9px 18px 9px 40px;
  font-weight: 400;
  color: #606c76;
}
#sidebar ul.sidebar-nav a > i {
  position: absolute;
  top: 50%;
  right: auto;
  left: 1em;
  -webkit-transform: translateX(0) translateY(-50%);
  transform: translateX(0) translateY(-50%);
}
#sidebar ul.sidebar-nav a:hover #sidebar ul.sidebar-nav a:hover > i {
  color: #333;
  -webkit-transition: color 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}

/* sidebar logo */
#sidebar .sidebar-logo {
  display: flex;
  justify-content: center;
  background-color: #bdc3c7;
  padding: 10px;
}

#sidebar .logo-circle {
  text-align: center;
  line-height: 60px;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  background-color: #f39c12;
}
#sidebar .logo-circle > i {
  line-height: 60px;
  font-size: 32px;
  color: white;
}

/* modal */
/*Penghalang*/
#modal,
#modal2,
#modalpopup {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
}

.modalcard {
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  max-height: 400px;
}

.modaljudul {
  height: 50px;
  background-color: #f39c12;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
}

.modaljudul p {
  font-size: 20px;
  font-weight: bolder;
  line-height: 50px;
}

.modalbody {
  padding: 20px;
  background-color: #fefefe;
}

/*Tombol X*/
#tutup,
#tutup2,
#close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  line-height: 50px;
  color: #fff;
}

#tutup:hover,
#tutup:focus {
  color: black;
  cursor: pointer;
}

#tutup2:hover,
#tutup2:focus {
  color: black;
  cursor: pointer;
}

/* alert */

.alert {
  max-width: 400px;
  height: 40px;
  color: #f7f7f7;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
}

.alert span {
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
}

.info {
  background: #0fb9b1;
}
.info {
  background: #2bcbba;
}

.alert-sukses {
  background: #20bf6b;
}
.alert-sukses span {
  background: #26de81;
}

.alert-danger {
  background: #ff3838;
}
.alert-danger span {
  background: #ff4d4d;
}

/* breakpoint */
@media (min-width: 40rem) {
  #page-container.sidebar-open {
    margin-left: 320px;
  }
  #sidebar {
    width: 320px;
  }
  #page-container.sidebar-open #sidebar {
    /* box-shadow: 5px 0 10px #e4e7ed; */
    -webkit-transform: translateX(0) translateY(0) translateZ(0);
    transform: translateX(0) translateY(0) translateZ(0);
    opacity: 1;
  }

  #close-sidebar {
    display: none;
  }

  #page-body {
    padding-left: 35px;
    padding-right: 35px;
    height: 100%;
  }

  #page-content .page-header {
    width: 100%;
    height: 82px;
    display: flex;
    align-items: center;
  }

}
