.red {
  color: #f44336;
}
.pink {
  color: #e91e63;
}
.purple {
  color: #9c27b0;
}
.deep-purple {
  color: #673ab7;
}
.indigo {
  color: #3f51b5;
}
.blue {
  color: #2196f3;
}
.light-blue {
  color: #03a9f4;
}
.cyan {
  color: #00bcd4;
}
.teal {
  color: #009688;
}
.green {
  color: #4caf50;
}
.light-green {
  color: #8bc34a;
}
.lime {
  color: #cddc39;
}
.yellow {
  color: #ffeb3b;
}
.amber {
  color: #ffc107;
}
.orange {
  color: #f39c12;
}
.deep-orange {
  color: #ff5722;
}
.brown {
  color: #795548;
}
.grey {
  color: #9e9e9e;
}
.blue-grey {
  color: #607d8b;
}
.white {
  color: #ffffff;
}
.black {
  color: #000000;
}
