html,
body {
  height: 100%;
}
.bg-yellow {
  background-color: #f39c12;
}

.yellow {
  color: #f39c12;
}

.white-nav {
  color: white !important;
  border: 1px solid transparent;
}
.white-nav:hover {
  border: 1px solid white;
}

.backgroundimg {
  background-image: url("/img/new/imageback.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.negative {
  margin-top: -2rem !important;
}

.width-100 {
  width: 7.5em;
  height: 4em;
}

/* css form */

.form-card {
  text-align: left;
}

#msform fieldset:not(:first-of-type) {
  display: none;
}

.card {
  z-index: 0;
  border: none;
  position: relative;
}

#progressbar {
  padding-left: 0;
  margin-bottom: 30px;
  overflow: hidden;
  color: lightgrey;
}

#progressbar .active {
  color: #0d6efd;
}

#progressbar li {
  list-style-type: none;
  font-size: 15px;
  width: 25%;
  float: left;
  position: relative;
  font-weight: 400;
}

#progressbar #account:before {
  content: "1";
}

#progressbar #personal:before {
  content: "2";
}

#progressbar #payment:before {
  content: "3";
}

#progressbar #confirm:before {
  content: "4";
}

#progressbar li:before {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 20px;
  color: #ffffff;
  background: lightgray;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px;
}

#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: lightgray;
  position: absolute;
  left: 0;
  top: 25px;
  z-index: -1;
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: #0d6efd;
}

.progress {
  height: 20px;
}

.progress-bar {
  background-color: #0d6efd;
}

.fit-image {
  width: 100%;
  object-fit: cover;
}

@media (max-width: 600px) {
  .backgroundimg {
    background-size: auto;
  }
}
